[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "==3.141.0"
chromedriver-autoinstaller = "==0.2.2"
edgedriver-autoinstaller = "==0.2.1"
webdriverdownloader = "==1.1.0.3"
selenium-page-factory = "==2.1"
jira = "==2.0.0"
atlassian-python-api = "==2.6.0"
six = {version = "==1.15.0", sys_platform = "!= 'darwin'"}
